[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"                                # Core web framework for building the application
djangorestframework = "*"                   # REST API toolkit for Django, provides serializers, viewsets, etc.
djangorestframework-simplejwt = "*"         # JWT authentication for DRF APIs
django-filter = "*"                         # Advanced filtering for DRF API queries
drf-spectacular = "*"                       # Automatic OpenAPI schema and documentation generation for DRF
django-tailwind = "*"                       # Integration of Tailwind CSS with Django

[dev-packages]

[requires]
python_version = "3.14"
